@use "../../styles/colors";

.container {
  min-height: calc(100vh - 110px);
  position: relative;
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.left {
  .title {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.5rem;
    .name {
      font-size: 4rem;
      font-weight: 800;
    }
    .dot {
      font-size: 5rem;
      color: colors.$main-yellow;
    }
  }
  button {
    width: 50%;
    margin-top: 2rem;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
    transition: 0.5s all ease-in-out;
    font-weight: 800;

    &:hover {
      color: #4950ff;
      border: 2px solid transparent;
      background-color: white;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  img {
    height: 100%;
  }
}

.blob {
  position: relative;
  width: clamp(200px, 550px, 600px);
  height: clamp(200px, 550px, 600px);
  background-color: colors.$main-yellow;
  border-radius: 66% 33% 66% 33% / 33% 33% 66% 66%;
  animation: border_animation 6s linear infinite;
  -webkit-animation: border_animation 6s linear infinite;
  @media screen and (max-width: 768px) {
    max-width: 250px;
    width: clamp(150px, 250px, 300px);
    height: clamp(150px, 250px, 300px);
  }

  .avatar {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes border_animation {
  0%,
  100% {
    border-radius: 44% 56% 66% 66% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  33% {
    border-radius: 66% 33% 44% 55% / 33% 22% 77% 66%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  66% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    justify-content: space-around;
    .left {
      width: 100%;
      order: 1;
      text-align: center;
      .title {
        font-size: 1.5rem;
        line-height: 2.5rem;
        font-weight: 300;
        .name {
          font-size: 2.45rem;
          margin-bottom: 2rem;
        }
      }
    }
    .right {
      width: 100%;
      order: -1;
    }
  }
}
